@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{	
	background-image: url('images/background.jpg');
	/* Ruta de la imagen de fondo */
	background-size: cover;
	/* Para cubrir toda la pantalla */
	background-position: center;
	/* Para centrar la imagen */
	color: white;
	/* Color del texto */
	font-family: "Poppins", sans-serif;
	font-style: normal;
	/* Tipo de fuente */
}

.container {
	padding: 50px;
	text-align: center;
}